body {
    width:100vw;
    margin:auto;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

main {
    height:100vh;
    width:100vw;
}

nav {
    text-align:right;
    margin:30px;
}

nav img {
    position:relative;
    right:85vw;
    top:6vh;
}

nav li {
    text-align:right;
    display:inline;
    padding:15px;
}

nav a {
    text-decoration:none;
    color:#000000;
}

nav a:hover {
    color:grey;
}

h1 {
    text-align:left;
    font-size:5em;
    margin:20vh 25vw 20vh 25vw;
    height:30vh;
    font-weight:100;
}

section {
    background-color:grey;
    height:100vh;
}


article {
    width:25vw;
    height:100vh;
    margin-top:20px;
    background-color:#fff;
}

article img {
    width:25vw;
}

article a{
    text-decoration:none;
    color:#000;
}

article a:hover {
     text-decoration:underline;
}

body > main > section > article:first-of-type{
    position:absolute;
    margin-top:100vh;
    margin-left:2vw;
}
body > main > section > article:nth-child(2){
    position:absolute;
    margin-left:33vw;
    margin-left:2vw;
}
body > main > section > article:nth-child(3){
    position:absolute;
    margin-left:66vw;
}

body > main > section > article:nth-child(4){
    position:absolute;
    margin-top:100vh;
    margin-left:2vw;
}
body > main > section > article:nth-child(5){
    position:absolute;
    margin-left:33vw;
    margin-top:100vh;
}
body > main > section > article:last-of-type{
    position:absolute;
    margin-left:66vw;
    margin-top:100vh;
}